[user]
	name = Onilton Maciel
	email = oniltonmaciel@gmail.com
[color]
        #ui = true
        ui = auto 
[core]
	editor = vim.tiny
[web]
	browser = google-chrome
[interactive]
	singlekey = true
[advice]
	statusHints = false
[push] # http://stackoverflow.com/questions/948354/default-behavior-of-git-push-without-a-branch-specified
	default = current
